td {
  text-align: left;
}

td input {
  float: right;
}

.prev {
  margin-left: 58px;
}
textarea.text-comment {
  height: 80px;
  width: 100%;
  resize: none;
  margin-top: 20px;
  padding-top: 10px;
}

table td {
  padding-top: 5px;
}

table label,
input,
button,
textarea {
  font-weight: bold;
}

table label {
  font-size: 15px;
}

table input,
textarea {
  color: rgb(85, 85, 85);
  font-weight: 700;
  background-color: rgb(164, 208, 98);
  border: none;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  
  &:hover {
    border-color: orange;
    background-color: rgba(164, 208, 98, 0.649);
  }

  &:focus {
    background-color: orange;
    color: rgb(33, 33, 33);
  }
}

textarea.text-comment {
  width: 320px;
}

table button {
  border: none;
  background-color: rgb(206, 206, 206);
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  &:hover {
    background-color: rgb(229, 229, 229);
  }
}